---
layout: default
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
	<div class="row">
        {% if site.sidebar == false %}
<!-- NO SIDEBAR -->
    <!-- PostList Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
                {{ content }}
            </div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {% include featured-tags.html %}

                <!-- Friends Blog -->
                {% include friends.html %}
            </div>
        {% else %}

<!-- USE SIDEBAR -->
    <!-- PostList Container -->
    		<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
    			{{ content }}
    		</div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- Featured Tags -->
                {% include featured-tags.html %}

                <!-- Short About -->
                {% include short-about.html %}
                <!-- 微信公众号 -->
                <hr>
                <h5>微信公众号</h5>
                <div class="short-about">
                    <img src="/img/wechat-pub-qrcode.jpg">
                </div>

                <!-- Friends Blog -->
                {% include friends.html %}
                <!-- 一言 -->
                <hr>
                <h5>一言</h5>
                <p id="hitokoto">:D 获取中...</p>
                <!-- 新 API 方法， 十分简洁 -->
                <script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>

                <!-- <div id="lwlhitokoto">
                <script type="text/javascript" src="https://api.lwl12.com/hitokoto/main/get?encode=js&charset=utf-8"></script>
                <script type="text/javascript">
                lwlhitokoto()
                </script>
                </div> -->
    		</div>
        {% endif %}
	</div>
</div>
